<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body id="body">
    <!-- TOP NAVBAR START -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <div class="container">
            <div class="navbar-header mobileonly">
                <div style="float: right; margin-top: 10px">
                    <!--<div class="menu-icon"><span class="glyphicon glyphicon-envelope"></span></div>-->
                    <div class="menu-icon" data-toggle="collapse" data-target=".navbar-collapse"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
                </div>
            </div>
            <div style="position: absolute; top: 10px; right: 37px">
                <div class="menu-icon" data-toggle="collapse" data-target=".chatmenu"><span class="glyphicon glyphicon-envelope"></span></div>
                <div class="collapse chatmenu" style="position: absolute; top: 28px; right: 0; width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 20px solid rgb(245, 245, 245); z-index: 1"></div>
                <div class="collapse chatmenu" style="position: absolute; width: 246px; height: 348px; min-height: 348px; max-height: 348px; top: 40px; right: 0; overflow-y: auto; background-color: rgb(245, 245, 245); box-shadow: 0 0 0 1px #999">

                </div>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Chat", "Index", "Chat")
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Index", "Contact")
                    </li>
                    <li>
                        @Html.ActionLink("Phonebook", "Index", "Phonebook")
                    </li>
                    <li>
                        @Html.ActionLink("Calendar", "Index", "Calendar")
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- TOP NAVBAR END -->

    <div id="wrapper">
        <!-- LEFT SIDEBAR START -->
        <div id="leftsidebar-wrapper">
            <div style="text-align: right">
                <div class="menu-icon" id="menu-toggle"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            </div>
            <ul class="sidebar-nav">
            </ul>
        </div>
        <!-- LEFT SIDEBAR END -->
        <!-- PAGE CONTENT START -->
        <div id="page-content-wrapper">
            @RenderBody()
        </div>
        <!-- PAGE CONTENT END -->
    </div>

    <script>
        function SidebarMenu() {
            $("#page-content-wrapper > a[title != ''][name != '']").each(function (anchor_index, anchor_object) {
                $(anchor_object).prepend("<a href='#" + $(anchor_object).attr("name") + "' style='float: right; clear: both; margin-top: 16px; margin-right: 16px;'><span class='glyphicon glyphicon-link'></span></a>");
                $("#leftsidebar-wrapper > ul.sidebar-nav").append("<li><a href='#" + $(anchor_object).attr("name") + "'>" + $(anchor_object).attr("title") + "</a></li>")
            })
        }

        $(document).ready(function () {
            SidebarMenu();
        })

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $(document).on("submit", "form", function (e) {
            e.preventDefault();

            var method = "GET";
            if ($(this).attr("method") !== undefined && $(this).attr("method").toUpperCase() === "POST") {
                method = "POST";
            }

            var action = location.pathname;
            if ($(this).attr("action") !== undefined) {
                action = $(this).attr("action");
            }

            $.ajax({
                url: action,
                method: method,
                data: "X-Requested-With=XMLHttpRequest" + $(this).serialize(),
                crossdomain: false
            }).done(function (data) {
                history.pushState(null, null, action);
                $("#page-content-wrapper > .container-fluid").html(data);
            });
        });
    </script>
</body>
</html>